<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Breeze And Blaze</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/images/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Ishwarya</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/boy_looking_at_the_universe.PNG" alt="profile-picture" width="200px">
      <h2>Hello.</h2>
      <p class="intro">I am a Web Developer. I'm the founder of Breeze and Blaze. I ❤️ reading and getting lost int he world of books.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started coding when I was in college and have gained good experience working in a SaaS company.</p>

      </div>
    </div>
    <hr>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/yogarajalakshmi-s-9b632b19b/">LinkedIn</a>
    <a class="footer-link" href="https://www.breezeandblaze.com/">Website</a>
    <p class="copyright">© 2023 Ishwarya S @ BreezeAndBlaze.</p>
  </div>
</body>

</html>
