<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>My Personal Site</title>
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/boy_looking_at_the_universe.png" width=200px alt="Display Picture"></td>
        <td><h1>Ishwarya S</h1>
        <p><em>Founder of <strong><a href="https://breezeandblaze.com">Breeze and Blaze</a></strong>.</em></p>
        <p>I'm a Python programmer. I ❤ reading and getting lost in the world of books.</p></td>
      </tr>
    </tbody></table>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2021-2023</td>
          <td>RoR programmer in a SaaS company</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>RoR Programming</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Python Programming</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>

</body></html>